<%- include("partials/top") %>

<h1><%= campsite.name %></h1>
<img src="<%= campsite.image %>" id="cimg">
<p><%= campsite.description %></p>


<%campsite.comments.forEach((comment)=>{%>
  <p><%=comment.author%>: <%=comment.text%></p>
<% }) %>


<%- include("partials/bot") %>